/* src/App.css */
.App {
  background-color: #ffffff; /* Light grey background for the app */
  min-height: 100vh; /* Full height of the viewport */
  padding-top: 20px; /* Padding at the top */
}

.App-header {
  background-color: #0ad9fd; /* Turquoise blue for the header */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 18px; /* Larger font size for visibility */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.cart-icon {
  display: flex;
  align-items: center;
  font-size: 18px; /* Smaller font size for the cart items counter */
}


.product {
  background-color: white; /* White background for each product */
  border-bottom: 1px solid #e1e1e1; /* Light grey border for separation */
  padding: 20px; /* Padding around product content */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space elements out */
}

.product img {
  width: 100px; /* Fixed width for images */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between image and description */
}

.product-name {
  flex-grow: 1; /* Allow name to fill the space */
  margin-right: 20px; /* Space before the quantity box */
}

.product-price {
  font-weight: bold;
  margin-right: 20px; /* Space before the quantity box */
}

.input-quantity {
  width: 60px; /* Smaller width for quantity inputs */
  text-align: center;
}


/* src/App.css */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
